@import '@assets/styles/variables';

.button {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 12px 20px 12px 20px;
  background-color: none;
  border-radius: 15px;
  color: $white-color;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
  font-size: 15px;
  width: 200px;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;

    & > svg {
      width: 20px;
      height: 20px;
    }
  }
  &.active {
    background-color: $active-btn-color;
  }
}

.button:hover {
  background-color: $hover-btn-color;
}
