@import '/src/assets/styles/variables';

.artists {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  h4 {
    font-weight: 400;
  }
}
.artist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .artistInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .artistImage {
      width: 110px;
      height: 110px;
      border-radius: 150px;
      margin-bottom: 10px;
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  background-color: $sidebar-color;
  border-radius: 30px;
}
