$bg-color: rgba(98, 98, 98, 0.6);
$sidebar-color: lighten(rgba(110, 110, 110, 0.6), 1%);
$hover-btn-color: rgba(180, 180, 180, 0.3);
$active-btn-color: rgba(180, 180, 180, 0.45);
$white-color: rgb(232, 232, 232);
$border-color: darken($white-color, 25%);
$description-color: rgb(188, 188, 188);
