@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(232, 232, 232);
}
:root {
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./bg2.jpeg') no-repeat center center fixed;
  background-size: cover;
}
p {
  font-size: 16px;
  font-weight: 400;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}
